HOW TO UNDERLINE OUTPUTS WITH ANSI ESCAPE 
---

In [1]:
import pandas as pd
from datetime import datetime
current_date_time = datetime.now()
formatted_date_time = current_date_time.strftime("%Y-%m-%d %H:%M:%S")
author = 'Federico Targa'
print('------------------------------------')
print("| Date & Hour:", formatted_date_time,'|')
print('------------------------------------')
print('------------------------------------')
print('     |Author: ', author                 ,'|')
print('------------------------------------')

------------------------------------
| Date & Hour: 2023-08-13 15:46:18 |
------------------------------------
------------------------------------
     |Author:  Federico Targa |
------------------------------------

In [2]:
crime_data = pd.read_csv('ChicagoCrimeData.csv') # crime_data: "dataframe" name
crime_data.head(3)

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,2004-08-28,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,9,14.0,58.0,6,1155838.0,1873050.0,2004,41.807440,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,11,27.0,23.0,6,1152206.0,1906127.0,2004,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,2011-04-04,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,2,3.0,38.0,6,1177436.0,1876313.0,2011,41.815933,-87.624642,"(41.815933131, -87.624642127)"

UNDERLINED OUTPUT:
- \033 indicates the ANSI escape sequence

- [4m indicates that the subsequent text will be underlined

- \033[0m restores the standard format

In [3]:
# Checking presence of missing values
missing_values_count = crime_data['ARREST'].isnull().sum()
print("Missing values on Arrest column:", missing_values_count)

Missing values on Arrest column: 0

In [4]:
full_arrest_column = crime_data['ARREST'].value_counts()
true_count = full_arrest_column[True]
print("\033[4m The number of criminals arrested is: {}\033[0m".format(true_count))

 The number of criminals arrested is: 163

In [5]:
false_count = full_arrest_column[False]
print("\033[4m The number of criminals arrested is: {}\033[0m".format(false_count))

 The number of criminals arrested is: 370

In [6]:
list(crime_data.shape)[0] == (false_count + true_count) # Fast Check Over: OK

True